@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS to remove increment and decrement buttons from input[type=number] */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
.glow-icon {
  animation: glowing 2s infinite;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  }
  50% {
    box-shadow: 0 0 20px rgba(32, 32, 32, 0.8);
  }
  100% {
    box-shadow: 0 0 5px rgba(19, 17, 17, 0.8);
  }
}
